[run]
omit =
    setup.py
    src/outleap/scripts/*
    tests/*
    src/outleap/qt_helpers.py

[paths]
source =
   src
   */site-packages

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # These branches aren't expected to be reachable outside type checking
    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    pass

    # Don't complain about ellipsis in overload
    \.\.\.
